---
interface Props {
    title: string;
    body: string;
    href: string;
    button_txt: string;
    icon: string;
}

const { href, title, body, button_txt, icon } = Astro.props;
---

<li class="max-w-72 p-6 flex flex-col justify-between">
    <h2 class="text-xl text-center my-2 font-extrabold">{title}</h2>
    <p class="text-center dark:text-gray-400 text-gray-500 my-6">{body}</p>
    <a class="flex justify-around font-bold m-2 bg-gray-600 text-white text-center p-1.5 rounded-xl transition-transform duration-300 hover:scale-110" href={href}>
        <img src={icon} width="24" height="24" aria-hidden="true" alt="button icon" loading="lazy">
        <span class="inline mx-4">{button_txt}</span>
    </a>
</li>